ul {
    display: inline;
}

#headerPrincipal {
    grid-column-start: 1;
    grid-column-end: 13;
}

section, aside, #logo, #headerPrincipal, header nav, h1, main{
    border: 1px solid silver;
    padding: 2px;
}

aside {
    height: 500px;
}

#img1, #img2 {
    width: 50px;
    height: 100px;
}

#img3, #img4, #img5 {
    width: 50px;
    height: 100px;
}

/*GRILLAS*/
body {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

#headerPrincipal {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
}

#logo {
    grid-column-start: 1;
    grid-column-end: 4;
}

 #headerPrincipal nav {
    grid-column-start: 4;
    grid-column-end: 13;
 }

 main {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
 }

 #headerSecundario {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
 }

 #headerSecundario nav {
    grid-column-start: 5;
    grid-column-end: 13;
 }

 h1 {
    grid-column-start: 1;
    grid-column-end: 3;
 }

 aside {
    grid-column-start: 1;
    grid-column-end: 4;
 }

 section {
    grid-column-start: 4;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
 }

 #img1 {
    grid-column-start: 1;
    grid-column-end: 4;
 }

 #img2 {
    grid-column-start: 5;
    grid-column-end: 10;
 }

 #img3 {
    grid-column-start: 1;
    grid-column-end: 3;
 }

 #img4 {
    grid-column-start: 4;
    grid-column-end: 7;
 }

 #img5 {
    grid-column-start: 7;
    grid-column-end: 11;
 }